Source: kbdscr
Section: utils
Priority: optional
Maintainer: Patrick Gaskin <patrick@pgaskin.net>
Build-Depends: bash-completion, libcairo2-dev (>= 1.6.4), libxcb1-dev, pkg-config
Standards-Version: 4.4.1
Homepage: https://github.com/geek1011/kbdscr
Vcs-Git: https://github.com/geek1011/kbdscr.git
Vcs-Browser: https://github.com/geek1011/kbdscr

Package: kbdscr
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, policykit-1
Suggests: bash-completion
Description: tool to show evdev button events graphically
 This package provides a GUI for showing button events from evdev devices such
 as mice and keyboards.
